.result-list {
    display: flex;
    flex-direction: column;
}

.result-link {
    color: #4ECDC4;
    text-decoration: none;
}

.result-link:hover {
    color: #F7FFF7;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.result-line {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.result-name {
    min-width: 50%;
    margin-left: 1rem;
}

.result-type {
    min-width: 31%;
}

.result-rarity {
    min-width: 10%;
}

.result-attune {
    min-width: 5%;
    margin-left: 1rem;
}

.no-results {
    display: flex;
    justify-content: center;
}

.chatbubble#result-error {
    width: 13em;
}
