.item-page {
    width: 70vw;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
}

.item-title {
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
    width: 60%;
    color: #FF6B6B;
}

.item-spec {
    color: #FFE66D;
}

.item-desc {
    max-height: 35vh;
    overflow-y: scroll;
    padding: 1rem;
}



#beholder-info {
    height: 10em;
}

#attunement {
    height: 7em;
    padding-left: 1.5em;
}

.insert-container#beholder-attune {
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
