#type-form {
    width: 15%;
    margin-left: 1rem;
}

.Select {
    color: #F7FFF7
}

/*
#type-selector {
    color: #4ECDC4;
    font-family: 'Changa', sans-serif;
}

#type-menu {
    color: #F7FFF7;
    font-family: 'Changa', sans-serif;
    border-color: #4ECDC4;
} */
